@model Domain.Models.Clt.ValoresCLT

@{
    ViewData["Title"] = "Calcular";
}

<h1>Resultado</h1>

<div>
    <h4>Valores CLT</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SalarioCLT)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SalarioCLT)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AliquotaInss)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AliquotaInss,"N:2")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ValorCobrancaInss)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorCobrancaInss)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AliquotaIrff)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AliquotaIrff)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ValorCobrancaIrff)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorCobrancaIrff)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ValorFGTS)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorFGTS)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProporcionalFeriasDecimoTerceiro)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProporcionalFeriasDecimoTerceiro)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FeriasDecimoTerceiro)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FeriasDecimoTerceiro)
        </dd>
    </dl>
</div>
<h4>Beneficios</h4>
<hr />
<dl class="row">

    @foreach (var beneficio in Model.Beneficios)
    {
        <dt class="col-sm-3">
            @Html.DisplayFor(model => beneficio.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => beneficio.Valor)
        </dd>
    }

</dl>
